<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <main class="page">
    <nav>
      <a class="{% if page.nav == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      <a class="{% if page.nav == 'research' %}active{% endif %}" href="{{ site.baseurl }}/research/">Research</a>
      <a class="{% if page.nav == 'projects' %}active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a>
      <a class="{% if page.nav == 'training' %}active{% endif %}" href="{{ site.baseurl }}/training/">Training</a>
    </nav>

    {{ content }}

    <footer>
      Design adapted from <a href="https://jonbarron.info/">Jon Barron's website</a>.
    </footer>
  </main>
</body>

</html>
